/*  globals  ---------------------------------------------------------------------------------*/
* {
    margin        : 0;
    padding       : 0;
    vertical-align: top;
    -webkit-box-sizing                : border-box;
    -moz-box-sizing                   : border-box;
    box-sizing                        : border-box;
    -ms-box-sizing                    : border-box;
}
a { text-decoration: none; }
ol,ul { list-style: none; }
hr { margin: .3em 0;    width: 100%;    height: 1px;    border-width:0;    color: #ddd;    background-color: #ddd;}
img { border: none;    padding: .2em;    max-width: 100%;}
input[type="checkbox"] { margin: 4px;}
input[type=submit],
input[type=button],
input[type=file],
input[type=reset],
button {    
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 3px 6px;
    margin: 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
input[type=reset]:hover,
button:hover {
    -webkit-box-shadow: 0 0 0 1px #717171;
    box-shadow: 0 0 0 1px #717171;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,select {
    padding: 4px 8px;
    -webkit-border-radius: 2px;
    border-radius        : 2px;
    font-size: 100%;
    -webkit-box-shadow: 0 1px 1px 0 #f2f2f2;
    box-shadow        : 0 1px 1px 0 #f2f2f2;
    -webkit-background-clip: padding-box;
    -moz-background-clip   : padding;
    background-clip        : padding-box;
}
input[type=number]{
    width: 70px;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.04) ,inset 0 1px 2px 0 #91ce4f;
    -moz-box-shadow   : 0 0 0 2px rgba(0,0,0,0.04) ,inset 0 1px 2px 0 #91ce4f;
    box-shadow        : 0 0 0 2px rgba(0,0,0,0.04) ,inset 0 1px 2px 0 #91ce4f;
}
textarea {
    resize: none;
}

/*  generics    ----------------------------------------------------------------------------*/
.animate{
    -webkit-transition-duration       : 190ms;
    -moz-transition-duration          : 190ms;
    -o-transition-duration            : 190ms;
    -ms-transition-duration           : 190ms;
    transition-duration               : 190ms;
    -webkit-transition-property       : all;
    -moz-transition-property          : all;
    -o-transition-property            : all;
    -ms-transition-property           : all;
    transition-property               : all;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function   : ease;
    -o-transition-timing-function     : ease;
    -ms-transition-timing-function    : ease;
    transition-timing-function        : ease;
}
.box_round_15 {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_round_5 {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_round_5_tl-tr {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_round_5_tr {
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_shadow {
    -webkit-box-shadow: 0 0 4px 0 #999;
    box-shadow: 0 0 4px 0 #999;
}
.box_shadow8 {
    -webkit-box-shadow: 0 0 8px 0 #999;
    box-shadow: 0 0 8px 0 #999;
}

.box_shadow1 {
    -webkit-box-shadow: 0 0 1px 0 #999;
    box-shadow: 0 0 1px 0 #999;
}
.clear {
    clear: both;
}
.center_div { 
    margin: 0px auto 0;
}
.inner_wrappper {
    display: inline-block;
    padding: .5em;
    background: #fafafa;
    width: 100%;
}
ul.box_small {
    margin: 0;
    padding: 3px;
}
ul.box_small li {
    position: relative;
    margin: 0;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    list-style-type: none;
}
.album{
    width: 100px;
/*    height: 100px;*/
    float: left;
    background-color: whitesmoke;
    padding: 5px;
    border-left: #666;
    border-left-style: solid;
    margin-left: 5px;
    font-size: .8em;
    cursor: pointer;
}
.album .albumname{
    float: bottom;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}
.album .albumname p{
    font-size: 80%;
}
.album .albumname p:hover{
    background-color: #99C53D;
}
ul.box {
    position: relative;
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
}
ul.box li {
    position: relative;
    float: left;
    padding: 0;
    border: 1px solid #efefef;
    margin: 30px;
    background: #fff;
    max-height: 250px;
    text-align: center;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow   : 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
    box-shadow        : 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
}
ul.box li img{
    cursor: pointer;
}
ul.box li:before,
ul.box li:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
    max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow   : 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow        : 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform   : skew(-15deg) rotate(-6deg);
    -ms-transform    : skew(-15deg) rotate(-6deg);
    -o-transform     : skew(-15deg) rotate(-6deg);
    transform        : skew(-15deg) rotate(-6deg); 
}
ul.box li:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform   : skew(15deg) rotate(6deg);
    -ms-transform    : skew(15deg) rotate(6deg);
    -o-transform     : skew(15deg) rotate(6deg);
    transform        : skew(15deg) rotate(6deg); 
}
/************************************************************************
** Notifications **

Class names for generic visual alerts.
.info is used on the index.php for 
the Terms & Conditions Ish
************************************************************************/
.error, .alert, .notice, .success, .info {    padding: .6em;    margin: .2em 0;    border: none; font-size: .8em; }
.error, .alert{    background: #FBE3E4;    color: #8A1F11;}
.notice{    background: #FFF6BF;    color: #514721;}
.info{    background: #ddd;    color: #264409;}
.success{    background: #E6EFC2;    color: #264409;}
.view-more{display: none;}
/*  navs    *********************************************************************************/
.login-box{
    padding: .3em;    
    float:right;
}
.login-box span{
    color: #717171;
    vertical-align: middle;
}
.login-box 
input[type=text],
.login-box 
input[type=password] {
    background-color: #f2f2f2;
}
.login-box 
input[type=text]:focus,
.login-box 
input[type=password]:focus {
    background-color: #fff;
}
#logo a img {
    padding: .5em;
}
/*************************************************/
.nav {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-width: 600px;
}
.nav *{
    vertical-align: text-top;
}
.nav a{
    vertical-align: middle;
    cursor: pointer;
}
.nav div {
    float: left;
    min-width: 8em;
    margin: 0;
    padding: 0 10px 4px 24px;
    font-size: 1em;
    vertical-align: bottom;
}
.nav .logout { float: right; }
.nav form{
    float: right;
    margin: 0;
}
/*  nav search background-repeat: *******************/
#s {
    width: 12em;
    margin: 2px;
    padding: 2px 2px 2px 28px;
    -webkit-transition-duration: 400ms;
}
#s:focus {
    width: 15em;
    height: 100%;
}

#searchsubmit {
    display: none;
}
/*********SEARCH suggestions**********/
#suggestions{ 
    position: absolute;
    right: 2px; 
    width: 320px; 
    display: none;
    overflow: auto;
    max-height: 400px;
    padding: 0px;
}
#suggestions div{
    width:100%;
    padding-left: 0px;
    padding-right: 0px;
}
/**************END SEARCH suggestions**********/
/*  index.php & login.php   *******************************************************************/
#column1,
#column2 {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;

}
#column1 {
    text-align: center;
}
.login-page-column{
    padding-top: 250px; 
}
.desc {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #444444;
}
form span.req {
    font-size: 10px;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: red!important;
}
form#signup label.desc {
    display: block;
}
#loginForm {
    width: 100%;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    padding:6px;
}
#loginForm fieldset {
    border:0;
}

#loginForm  label {
    display:block;
    float:none;
}
#signup_form {
    padding: .7em;
    background: #fff;
}
#signup li, #loginForm li {
    margin: 0 0 .2em 0;
    padding: .1em;
}

/*  body    **********************************************************************************/
/*  gossbox styling     ---------------------------------*/
.gossbox-list   {    font-size: .9em;   padding: .2em 2em;}

#gossbag:active,
#messages:active,
#friend_requests:active,
#settings:active{
    font-weight: bold;
}
/*  flickr_tooltip_menu     *********************************************************************************/
#popGossbag,#popMessage,#popFriend_Request,#popSettings{/*important*/
    margin: 0 0 0 10px;
    display: none;
    position: absolute;
    z-index: 3;
}
#triangle {/*important*/
    border: 1px solid #d9d9d9;
    border-width: 2px 0 0 2px;
    width:10px;
    height:10px;
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform:rotate(45deg);
    z-index: 1;
    position: relative;
    bottom: -4px;
    margin-left: 25px;
    background: #fff;
}
#tooltip_menu1,#tooltip_menu2,#tooltip_menu3,#tooltip_menu4 {/*important*/
    background: #fff;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    width: 250px;
    max-height: 440px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
#tooltip_menu1 div,#tooltip_menu2 div,#tooltip_menu3 div,#tooltip_menu4 div {/*important*/
    z-index: 2;
    padding: 0 0 7px 2px;
    display: block;
    text-decoration: none;
    font-size: 90%;
    cursor: pointer;
}
#tooltip_menu1 a,#tooltip_menu2 a,#tooltip_menu3 a,#tooltip_menu4 a{
    color: #717171;
}
#tooltip_menu1 div img,#tooltip_menu2 div img,#tooltip_menu3 div img,#tooltip_menu4 div img {
    position: relative;/*important with images if any*/
    top: 5px;
    border: 0;
}
.menu_bottom {/*important*/
    -webkit-border-radius: 0 0 .5em .5em;
    -moz-border-radius: 0 0 .5em .5em;
    border-radius: 0 0 .5em .5em;
    background: #f2f2f2;
}


/*----------------------------------------------------------------------*/
.heading {
    position: relative;
    padding: .3em;
}
.inner-container {  /* This is a container just below the .nav serving as a container for .left .content & .right*/
    position: absolute;
    top   : 30px;
    right : 0;
    bottom: 0;
    left  : 0;
    padding: .6em;
    overflow: auto;
    min-width: 900px;
}
.left {
    position: absolute;
    top   : 0;
    right : 80%;
    bottom: 0;
    left  : 0;
}
.left-container {
    position: relative;
}
.left-boxes {
    margin: .6em;
    overflow: auto;
}
/*  profile styling     *************************************************************************************/
.person{ margin: 2px;}
.details{ display: inline-block; margin: 0px auto 0;}
.details span{    display: block;    margin: 0px auto 0;}
.p_name{ overflow: hidden;}


/** COMMUNINITY TABLE STYLING ******************************************************************************/
#gossforum{    margin:3px auto;    padding: 5px;     min-height:600px;    -webkit-border-radius: 5px;     border-radius: 5px;}
#gossforum table{    border: 1px solid #f2f2f2;    width:100%;}
#gossforum table tr{    padding:0px;}
#gossforum table td{    padding:3px;}
#gossforum table th{    padding-top: 5px;    padding-bottom: 5px;    font-size:12px;    font-weight:bold;    border:1px solid #CCC;    background-color:#f2f2f2;}
#gossforum table .catg_name{    border-bottom: 2px solid #f2f2f2;    padding:5px;     background-color:#f2f2f2;}
#gossforum table .catg_desc{    padding:5px;}
#gossforum table a{color: #717171; font-size: 0.8em;}


.right{ /***********************************************************************************************/
    position: absolute;
    top   : 0;
    bottom: 0;
    left  : 80%;
    right: 10px;
    margin:.5em 0 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius:0 5px 0 0;
    font-size: 1em;
    -webkit-box-shadow: 0 0 3px #666;
    -moz-box-shadow   : 0 0 3px #666;
    box-shadow        : 0 0 3px #666;
    overflow: auto;
}
.right_container{
    position:absolute;
    right:0px;
    left:15px;
}
.community{
    position:relative;
    padding:3px;
    margin-top: 1px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    cursor:pointer;
}
.community_selected{
    position:relative;
    padding:3px;
    margin-top: 1px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.community_selected:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 9px solid transparent;
    border-left-color: #999;
    right:99%;
}
.my_community{
    border:1px solid #ddd;
}
.addbutton{
    background:transparent;
    width:20px;
    height:20px;
    margin:0px;
    background: #FFF;
    float:right;
    display: block;
}
.see_all{
    font-size:14px;
}
.content {
    position: absolute;
    top   : 0;
    right : 20%;
    bottom: 0;
    left  : 20%;
    margin: .5em 0 0 0;
    padding: 0px;
    -moz-border-radius: 5px 0 0 0;
    overflow: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px #666;
    -moz-box-shadow   : 0 0 3px #666;
    box-shadow        : 0 0 3px #666;  
}
#tabs ul li { display: inline; float: left; }
#tabs a             { text-align: center; text-decoration: none; cursor: pointer; }

#timeline    {    z-index: 3;}

/*  posts and timeline  **********************************************************************/
#postbox {
    padding: 5px;
}
.update_textarea {   float: left;     width: 99.2%;    padding: 3px;     overflow: auto; margin-bottom: 5px; }
#statusUpdate input[type=submit] {     float: right;     margin-right: 8px; }
.posts {    position: relative;    padding: .8em;    overflow: auto;   }
.post {    position: relative;    margin: 0 auto;    padding: 4px;  overflow: hidden;    text-align: left; }
.post img {     float: left; }
.post .status {    padding: 4px; }
.post .time {    position: absolute;    top: 0;    right: 0;    margin-bottom: 5px;    margin-left  : 100px;    padding    : 4px;    padding-top: 15px; } 
.post_activities span:hover{ cursor: pointer;}
#comment {     position: relative;     margin-left: 5em;     padding-top: 2px;  -webkit-border-radius: 2px;     border-radius: 2px;     margin-top: .08em;    clear: both; }
#comment .time {    position: absolute;    top: 0;   right: 0;    margin-bottom: 5px;    margin-left  : 100px;    padding    : 4px;    padding-top: 3px; }
#commentbox {    margin-left: 6.0em;    padding: 5px;    vertical-align: bottom;   -webkit-border-radius: 2px;    border-radius: 2px;    margin-top: 1px;  height:50px; }
.arrowdown{    clear: both; }
.commentTable{    width: 100%;} 
.commentTable *{    margin: .1em;    padding: .1em;}
.comment-img-td{    width:40px;}
.commenttext {    vertical-align: middle;    margin: .3em;    width: 100%; }

/*  profile *********************************************************************************************/
#profile_pic{    float:left; }  
#profile_details{     float:left; }
#profile_actions{    padding-top: .3em;    float:right; }
#profile_actions input[type=submit], #profile_actions input[type=button] { min-width: 180px; margin: .15em; }


#footer{    padding: 5px 10px 5px 10px; margin: 0 auto; }
#footer li {    float: left;}


/* Scrollbar styling for webkit only *******************************************************************/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    padding-top:20px;
    width: 12px;
    background-color: #F5F5F5;
    -webkit-border-radius:2px;
}

::-webkit-scrollbar-thumb
{
    max-height:30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
    -webkit-border-radius:2px;
}

::-webkit-scrollbar-thumb:hover{

    background-color:#9f9f9f;
    -webkit-border-radius:2px;
}

/*************************************************************************************************************/
/* misc     **************************************************************************************************/
#messenger { 
    width: 240px;
    padding: 0.7em;
    position: relative;
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 999999;
    text-align: center;
}
#messenger:hover{    opacity: 80%;}


#page {     width: 1200px; }




.width_95 {    width: 95%;}
.width800{        width: 800px;}

/** About, privacy page tab css stuff**/
#tabs-left {
    position: relative;
    padding-left: 6.5em;
}
#tabs-left .ui-tabs-nav {
    position: absolute;
    left: 1.25em;
    top: 0.25em;
    bottom: 0.25em;
    width: 5em;
    padding: 0.2em 0 0.2em 0.2em;
}
#tabs-left .ui-tabs-nav li {
    right: 1px;
    width: 100%;
    border-right: none;
    margin: 2px;
    border-bottom-width: 1px !important;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
}
#tabs-left .ui-tabs-nav li a {
    float: right;
    width: 100%;
    padding: 5px;
    text-align: right;
}
#tabs-left > div {
    min-height: 30em;
}

.about_fnx{
    padding:10px;
    width:33%;
    float:left;
    text-align:center;
}
.about_fnx span{
    text-align:justify;
}
.index_fnx{
    min-height: 140px;
    margin-top: 2px;
}
.friend_index{
    background: url(../images/image-friend.png) no-repeat left top!important;
}
.community_index{
    background: url(../images/image-community.png) no-repeat left top!important;
}
.gossip_index{
    background: url(../images/image-gossip.png) no-repeat left top!important;
} 
.index_fnx span{
    padding-right:20px;
    padding-left: 150px;
    text-align:justify;
    display:block;
}
.index_fnx .fnx{
    text-align:center;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    z-index: 100;
}
.not_found{
   width:100%;
   min-height:500px;
}
.not_found_msg{
   max-width:350px;
   margin: 0px auto;
   text-align: justify;
   padding-top: 260px;
}


/* Media Queries for Desktops ----------- */
@media only screen 
and (max-width : 880px) {
    *{       
        
    }
    #column1, #column2 {
        -webkit-transition: all 1s ease-out;  /* Safari 3.2+, Chrome */
             -moz-transition: all 1s ease-out;  /* Firefox 4-15 */
               -o-transition: all 1s ease-out;  /* Opera 10.5–12.00 */
                  transition: all 1s ease-out;  /* Firefox 16+, Opera 12.50+ */
        width: 100%;
    }
    .width800{
        -webkit-transition: all 1s ease-out;  /* Safari 3.2+, Chrome */
             -moz-transition: all 1s ease-out;  /* Firefox 4-15 */
               -o-transition: all 1s ease-out;  /* Opera 10.5–12.00 */
                  transition: all 1s ease-out;  /* Firefox 16+, Opera 12.50+ */
        width: 80%;
    }
    .right{
        display: none;
    }
    .content{
        -webkit-transition: all 1s ease-out;  /* Safari 3.2+, Chrome */
         -moz-transition: all 1s ease-out;  /* Firefox 4-15 */
           -o-transition: all 1s ease-out;  /* Opera 10.5–12.00 */
              transition: all 1s ease-out;  /* Firefox 16+, Opera 12.50+ */
        position: absolute;
        right: 0;
    }
}
