/*  globals  ---------------------------------------------------------------------------------*/
* {
    margin        : 0;
    padding       : 0;
    vertical-align: top;
    -webkit-box-sizing                : border-box;
    -moz-box-sizing                   : border-box;
    box-sizing                        : border-box;
    -ms-box-sizing                    : border-box;
}
a { text-decoration: none;  border-bottom: 1px solid transparent; color: #097FA0;}
a:hover { border-bottom: 1px solid #097FA0; }
ol,ul { list-style: none;}
hr { margin: .3em 0;    width: 100%;    height: 1px;    border-width:0;    color: #ddd;    background-color: #ddd;}
img { border: none;    padding: .2em;    max-width: 100%;}
input[type="checkbox"] { margin: 4px;}
input[type=submit],
input[type=button],
input[type=file],
input[type=reset],
button {    
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 3px 6px;
    margin: 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
input[type=reset]:hover,
button:hover {
    border: 1px solid #99c53d;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,select {
    padding: 4px 8px;
    -webkit-border-radius: 2px;
    border-radius        : 2px;
    font-size: 100%;
    -webkit-background-clip: padding-box;
    -moz-background-clip   : padding;
    background-clip        : padding-box;
}
input[type=number]{
    width: 70px;
}
textarea {
    resize: none;
}

/*  generics    ----------------------------------------------------------------------------*/
.animate{
}
.box_round_15 {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_round_5 {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
}
.box_shadow {
    border: 1px solid #999;
}
.box_shadow8 {
    border: 1px solid #999;
}

.box_shadow1 {
    border: 1px solid #999;
}
.clear {
    clear: both;
}
.center_div { 
    margin: 0px auto 0;
}
.inner_wrappper {
    display: inline-block;
    padding: .5em;
    background: #fafafa;
    width: 100%;
}
ul.box_small {
    margin: 0;
    padding: 3px;
}
ul.box_small li {
    position: relative;
    margin: 0;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    list-style-type: none;
}
ul.box {
    position: relative;
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
}
ul.box li {
    position: relative;
    float: left;
    padding: 0;
    border: 1px solid #efefef;
    margin: 30px;
    background: #fff;
    max-height: 250px;
    text-align: center;   
    border: 1px solid #ddd;
}
ul.box li img{
    cursor: pointer;
}
/************************************************************************
** Notifications **

Class names for generic visual alerts.
.info is used on the index.php for 
the Terms & Conditions Ish
************************************************************************/
.error, .alert, .notice, .success, .info {    padding: .6em;    margin: .2em 0;    border: none; font-size: .8em; }
.error, .alert{    background: #FBE3E4;    color: #8A1F11;}
.notice{    background: #FFF6BF;    color: #514721;}
.info{    background: #ddd;    color: #264409;}
.success{    background: #E6EFC2;    color: #264409;}
.view-more{display: block; padding-top: 18px; background: transparent url(../images/icon_down.png) no-repeat 50% 0;}
/*  navs    *********************************************************************************/
.login-box{
    padding: .3em;  
}
.login-box span{
    color: #717373;
    vertical-align: middle;
}
.login-box 
input[type=text],
.login-box 
input[type=password] {
    background-color: #f2f2f2;
    width: 90%;
}
.login-box 
input[type=text]:focus,
.login-box 
input[type=password]:focus {
    background-color: #fff;
}
#logo a img {
    padding: .5em;
}
#logo a:hover {border: none;}
/*************************************************/
.nav *{
    vertical-align: text-top;
}
.nav div {
    float: left;
    margin: 0;
    padding: 0 10px 4px 24px;
    font-size: 1em;
}
.nav .logout { float: right;}
.nav form{
   /* float: right; */ /*causes Nav to Collapse on mobile */
    margin: 0;
}
/*  nav search background-repeat: *******************/
#s {
    width: 80%;
    line-height: 1em;
    margin: 2px;
    padding: 0 10px 4px 24px;
}
#searchsubmit {
    font-size: .7em;
}
/*********SEARCH suggestions**********/
#suggestions{ 
    display: none;
    overflow: auto;
    max-height: 400px;
    padding: 0px;
    z-index: 500;
}
#suggestions div{
    width:100%;
}
/**************END SEARCH suggestions**********/
/*  index.php & login.php   *******************************************************************/
#column1,
#column2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;

}
#column1 {
    text-align: center;
}
.login-page-column{
    padding-top: 250px;
}
.desc {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #444444;
}
form span.req {
    font-size: 10px;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: red!important;
}
form#signup label.desc {
    display: block;
}
#loginForm {
    width: 100%;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    padding:6px;
}
#loginForm fieldset {
    border:0;
}

#loginForm  label {
    display:block;
    float:none;
}
#signup_form {
    padding: .7em;
    background: #fff;
}
#signup li, #loginForm li {
    margin: 0 0 .2em 0;
    padding: .1em;
}
.login-box label {
    display: block;
}
/***********************************************************
CAPTHA FIX*/
#recaptcha_area, #recaptcha_table {
    overflow: auto;
    width: 100%!important;
}


/*  body    **********************************************************************************/
/*  gossbox styling     ---------------------------------*/
.gossbox-list   {    font-size: .9em;   padding: .2em 25px;}

#gossbag:active,
#messages:active,
#friend_requests:active,
#settings:active{
    font-weight: bold;
}
/*  flickr_tooltip_menu     *********************************************************************************/
#popGossbag,#popMessage,#popFriend_Request,#popSettings{/*important*/
    margin: 0 0 0 10px;
    display: none;
    position: absolute;
    z-index: 3;
}
#triangle {/*important*/
    border: 1px solid #d9d9d9;
    border-width: 2px 0 0 2px;
    width:10px;
    height:10px;
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform:rotate(45deg);
    z-index: 1;
    position: relative;
    bottom: -4px;
    margin-left: 25px;
    background: #fff;
}
#tooltip_menu1,#tooltip_menu2,#tooltip_menu3,#tooltip_menu4 {/*important*/
    background: #fff;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    width: 250px;
    max-height: 440px;
    overflow-y: auto;
    border: 1px solid #717171;
    padding: 2px;
}
#tooltip_menu1 div,#tooltip_menu2 div,#tooltip_menu3 div,#tooltip_menu4 div {/*important*/
    z-index: 2;
    padding: 0 0 7px 2px;
    display: block;
    text-decoration: none;
    font-size: 90%;
    cursor: pointer;
}
#tooltip_menu1 a,#tooltip_menu2 a,#tooltip_menu3 a,#tooltip_menu4 a{
    color: #717171;
}
#tooltip_menu1 div:hover,#tooltip_menu2 div:hover,#tooltip_menu3 div:hover,#tooltip_menu4 div:hover {/*important color stuff*/
    background: #A6CC8B;
    color: #fff;
}
#tooltip_menu1 div img,#tooltip_menu2 div img,#tooltip_menu3 div img,#tooltip_menu4 div img {
    position: relative;/*important with images if any*/
    top: 5px;
    border: 0;
}
.menu_bottom {/*important*/
    -webkit-border-radius: 0 0 .5em .5em;
    -moz-border-radius: 0 0 .5em .5em;
    border-radius: 0 0 .5em .5em;
    background: #f2f2f2;
}


/*----------------------------------------------------------------------*/
.heading {
    position: relative;
    padding: .3em;
}
.inner-container {  /* This is a container just below the .nav serving as a container for .left .content & .right*/
    padding: .6em;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
}
.left {
    overflow: auto;
}
.left-container {
    border: 1px solid #717171;
}
.left-boxes {
    overflow: auto;
}
#tlkio{
    display: none;
}
/*  profile styling     *************************************************************************************/
.person{ margin: 2px;  cursor:pointer; }
.details{ display: inline-block; margin: 0px auto 0;}
.details span{    display: block;    margin: 0px auto 0;}
.p_name{ overflow: hidden;}


/** COMMUNINITY TABLE STYLING ******************************************************************************/
#gossforum{    margin:3px auto;    padding: 5px;     min-height:600px;    -webkit-border-radius: 5px;     border-radius: 5px;}
#gossforum table{    border: 1px solid #f2f2f2;    width:100%;}
#gossforum table tr{    padding:0px;}
#gossforum table td{    padding:3px;}
#gossforum table th{    padding-top: 5px;    padding-bottom: 5px;    font-size:12px;    font-weight:bold;    border:1px solid #CCC;    background-color:#f2f2f2;}
#gossforum table .catg_name{    border-bottom: 2px solid #f2f2f2;    padding:5px;     background-color:#f2f2f2;}
#gossforum table .catg_desc{    padding:5px; }
#gossforum table a{color: #717171; font-size: 0.8em;}


.right{ /***********************************************************************************************/
    margin:.5em 0 0 0;
    font-size: 1em;
    overflow: auto;
}
.right_container{
    border: 1px solid #717171;
}
.community{
    position:relative;
    padding:3px;
    margin-top: 1px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    cursor:pointer;
}
.community_selected{
    position:relative;
    padding:3px;
    margin-top: 1px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.community_selected:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 9px solid transparent;
    border-left-color: #999;
    right:99%;
}
.my_community{
    border:1px solid #ddd;
}
.addbutton{
    background:transparent;
    width:20px;
    height:20px;
    margin:0px;
    background: #FFF;
    float:right;
    display: block;
}
.see_all{
    font-size:14px;
}
.content {
    padding: 0px;
    -moz-border-radius: 5px 0 0 0;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #717171;
}
#tabs ul li { display: inline; float: left; }
#tabs a             { text-align: center; text-decoration: none; cursor: pointer; }

.timeline    {    z-index: 3;}

/*  posts and timeline  **********************************************************************/
#postbox {
    padding: 5px;
}
.update_textarea {   float: left;     width: 99.2%;    padding: 3px;     overflow: auto; margin-bottom: 5px; }
#statusUpdate input[type=submit] {     float: right;     margin-right: 8px; }
.posts {    position: relative;    padding: .2em;    overflow: auto;   }
.post {    position: relative;    margin: 0 auto;    padding: 4px;  overflow: hidden;    text-align: left; }
.post img {     float: left; }
.post .status {    padding: 4px; }
.post .time {    position: absolute;    top: 0;    right: 0;    margin-bottom: 5px;    margin-left  : 100px;    padding    : 4px;    padding-top: 15px; } 
.post_activities span:hover{text-decoration: underline;    cursor: pointer; }
#comment {     position: relative;     margin-left: 5em;     padding-top: 2px;  -webkit-border-radius: 2px;     border-radius: 2px;     margin-top: .08em;    clear: both; }
#comment .time {    position: absolute;    top: 0;   right: 0;    margin-bottom: 5px;    margin-left  : 100px;    padding    : 4px;    padding-top: 3px; }
#commentbox {    margin-left: 6.0em;    padding: 5px;    vertical-align: bottom;   -webkit-border-radius: 2px;    border-radius: 2px;    margin-top: 1px;  height:50px; }
.arrowdown{    clear: both; }
.commentTable{    width: 100%;} 
.commentTable *{    margin: .1em;    padding: .1em;}
.comment-img-td{    width:40px;}
.commenttext {    vertical-align: middle;    margin: .3em;    width: 100%; }

/*  profile *********************************************************************************************/
#profile_pic{    float:left; }  
#profile_details{     float:left; }
#profile_actions{    padding-top: .3em;    float:right; }
#profile_actions input[type=submit], #profile_actions input[type=button] { min-width: 180px; margin: .15em; }


#footer{    padding: 5px 10px 5px 10px; margin: 0 auto; }
#footer li {    float: left;}


/*************************************************************************************************************/
/* misc     **************************************************************************************************/
#messenger { 
    width: 240px;
    padding: 0.7em;
    position: relative;
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 999999;
    text-align: center;
}
#messenger:hover{    opacity: 80%;}


#page {     width: 100%; }


.shade{     background: #A6CC8B; }
.shade:hover{    background: white;}


.width_95 {    width: 95%;}
.width800{        width: 90%;}

/** About, privacy page tab css stuff**/
#tabs-left {
    position: relative;
    padding-left: 6.5em;
}
#tabs-left .ui-tabs-nav {
    position: absolute;
    left: 1.25em;
    top: 0.25em;
    bottom: 0.25em;
    width: 5em;
    padding: 0.2em 0 0.2em 0.2em;
}
#tabs-left .ui-tabs-nav li {
    right: 1px;
    width: 100%;
    border-right: none;
    margin: 2px;
    border-bottom-width: 1px !important;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
}
#tabs-left .ui-tabs-nav li a {
    float: right;
    width: 100%;
    padding: 5px;
    text-align: right;
}
#tabs-left > div {
    min-height: 30em;
}

.about_fnx{
    padding:10px;
    font-size:16px;
    text-align:center;
}
.about_fnx span{
    text-align:justify;
    font-size:14px;
}
.fnx_detail{
    font-size: .85em;
}
.index_fnx{
    margin-top: 2px;
}
.friend_index{
    background: url(../images/image-friend.png) no-repeat center bottom!important;
}
.community_index{
    background: url(../images/image-community.png) no-repeat center bottom!important;
}
.gossip_index{
    background: url(../images/image-gossip.png) no-repeat center bottom!important;
}   
.index_fnx span{
    padding-bottom: 120px;
    text-align:justify;
    display:block;
}
.index_fnx .fnx{
    text-align:center;
}
.footer_links a{    color:#333; padding-right: 5px;}
.footer_links a:hover{    color:#A6CC8B;}
.footer_links {    float: right ;   font-size: 14px; }

.not_found{
   width:100%;
   min-height:500px;
}
.not_found_msg{
   max-width:350px;
   margin: 0px auto;
   text-align: justify;
   padding-top: 260px;
}